Flask==0.10.1
Flask-Admin==1.4.2
Flask-Login==0.3.2
Flask-SQLAlchemy==2.0
Flask-Bower==1.2.1
Flask-WTF==0.12
Flask-Recaptcha==0.4.2
Flask-Security==1.7.5
gunicorn==19.6.0
httplib2==0.9.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mysqlclient==1.3.6
psycopg2==2.6
PySocks==1.5.6
pytz==2015.4
requests==2.7.0
six==1.9.0
SQLAlchemy==1.0.8
twilio==4.5.0
Werkzeug==0.10.4
WTForms==2.1
configparser==3.5.0
apscheduler==3.2.0
mock==2.0.0
testfixtures==4.11.0
universal-analytics-python==0.2.4
slack-log-handler==0.2.2
